body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b7eeb5;
}

header, nav, main, footer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3 {
    color: #ad820b;
}

p, ul, li {
    color: #141313;
}

a {
    color: #0077ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



header {
    background-color: #79170a;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

main section {
    margin-bottom: 30px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

footer {
    text-align: center;
    background-color: #2e9df1;
    color: #ffffff;
    padding: 10px 0;
}
